.lightGrey{
    background: #ddd;
    padding: 0 40px;
}
.lightGrey .resume{
    max-width: 800px;
    margin: 0 auto;
}
.lightGrey .resume > section{margin: 30px 0;}
.lightGrey .resume > section > h1,.lightGrey .resume > section > h2{
    text-align: center;
    margin: 20px;
}
.lightGrey .resume .profileAll p{text-align: center;margin: 10px 0;}

.lightGrey .resume .skills > ul{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
}
.lightGrey .resume .skills > ul > li{
    width: 49%;
    border: 1px solid grey;
    margin-top: 10px;
    padding: 10px;
}


.lightGrey .resume .projects > ol > li{margin: 30px 0;border: 1px solid #ddd;padding: 10px;}
.lightGrey .resume .projects header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.lightGrey .resume .projects header .name{
    margin-right: 1em;
    margin-bottom: 10px;
}
.lightGrey .resume .projects header .start{
    display: flex;
}
.lightGrey .resume .exitPreview{
    position: absolute;
    top: 10px;
    right: 40px;
}