@media(min-width:500px) {
    .page {
        height: 100vh;
        overflow: hidden;
        display: flex;
    }
}
*{margin: 0;padding: 0;}
*,*::before,*::after{box-sizing: border-box;}
ul,li{list-style: none;}
button{
    background: white;
    opacity: 0.9;
    margin:0;
    padding: 0;
    border: 1px solid transparent;    /*自定义边框*/
    box-shadow: none;
	outline: none;      /*消除默认点击蓝色边框效果*/
}

body{font-size: 18px; overflow: auto;}
a{text-decoration: none;color:inherit;}
ul,ol{list-style: none;}
.button{padding: 3px 10px;font:inherit;border-radius: 4px;}
div[v-cloak]{display: none;}

.page>aside {
    width: 150px;
    background: linear-gradient(90deg,rgba(255,255,255,0.3),rgba(255,255,255,0.3)),url("../img/default.jpg");
    box-shadow: 5px 0px 10px 0px rgba(255,255,255,0.15);
    border-right: 3px solid #ddd;
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    z-index: 10;
}
.page>aside:hover{
    box-shadow: 5px 0px 10px 0px rgba(255,255,255,0.25);
    background: linear-gradient(90deg,rgba(255,255,255,0.4),rgba(255,255,255,0.4)),url("../img/default.jpg");
}
.page>aside .upper{
    display: flex;
    flex-direction: column;
}
.page>aside .upper li{
    margin: 10px 0;
}
.page>aside .down{
    margin: 10px 0;
}
.page>aside button:active{
    opacity: 1;
}

.page main{
    flex-grow: 1;
    overflow: auto;
}
.page main .resumeBackground{
    background: rgba(255,255,255,0.8);
    position: fixed;
    height: 100vh;
    width: 500px;
    margin: 0 auto;
    z-index: 11;
}

.skills > ul > li{
    position: relative;
}
.skills > ul > li .remove{
    position: absolute;
    top: 0;
    right: 10px;
}
.projects > ol > li{
    position: relative;
}
.projects > ol > li .remove{
    position: absolute;
    bottom: 0;
    right: 10px;
}

.page .exitPreview{
    position: absolute;
    top: 10px;
    left: 40px;
}


