
.page main {
    overflow: hidden;
}
.page aside{
    display: none;
}
*.add,*.remove{
    display: none;
}
.page .default{
    background: white;
    padding-bottom: 0;
}
.page .twig{
    z-index: 0;
}
.page .wrapper{
    display: none;
}
.page .bubble{
    display: none;
}